{
    "presets":[
        ["@babel/preset-env",{
            "targets":{
                "node":"current"
            }
        }],
        "@babel/preset-react"
    ]
}

/*Above is same as below in "babel.config.js" file
module.exports={
    presets:['@babel/preset-env','@babel/preset-react'],
};
*/